<!DOCTYPE html>
<html>

  <head>
    
    <meta charset="utf-8" />
    <title>Predictster</title>
    <link rel="stylesheet" href="styles/style.css"/>
    
  </head>

  <body ng-app="predictster">
    
    <header>
      <h3>Predictster</h3>
    </header>
    
    <nav>
      <a href="/index.html">Home</a>
      <a href="/predictions.html">Show Predictions</a>
    </nav>
    
    <div class="prediction-form" ng-controller="addPrediction">
      <form ng-submit="submitPrediction()">
        <label>Who</label><input type="text" name="entity" ng-model="prediction.entity">
        <label>What</label><input type="textarea" name="description" ng-model="prediction.description">
        <label>When</label><input type="date" name="date" ng-model="prediction.date"> 
        <label>Link</label><input type="url" name="link" ng-model="prediction.link"> 
        <input type="submit" class="submit-btn">
      </form> 
    </div>   
    
    <script src="lib/angular/angular.js"></script>
    <script src="app/app.js"></script>
        
  </body>
  
</html>
