<!DOCTYPE html>
<html>

  <head>
    
    <meta charset="utf-8" />
    <title>Predictster</title>
    <link rel="stylesheet" href="lib/styles/style.css"/>
    
  </head>

  <body ng-app="predictster">
    
    <header>
      <h3 class="logo">Predictster</h3>
    
      <nav>
        <a href="/index.html">Post</a>
        <a href="/public.html">Public Prediction Board</a>
        <a href="/predictions.html">My Predictions</a>
        <a href="/signin.html">Sign In</a>
      </nav>
    </header>
    
    <div class="container" class="search" ng-controller="displayPublicPredictions">
      <input type="text" ng-model="searchFilter" class="search" placeholder="search">
      <div class="prediction-view" ng-repeat="prediction in allPredictions | filter : searchFilter">
        <div class="prediction">
          <p> {{prediction.entity}}: <a href="{{prediction.link}}" target="_blank"> {{prediction.description}}</a><span ng-if="!prediction.show" ng-click="expand(prediction)"> {{prediction.status}} </span><span ng-if="prediction.show" class="status-selector"><a ng-click="updateStatus('right', prediction)">right</a><a ng-click="updateStatus('wrong', prediction)">wrong</a><a ng-click="updateStatus('pending', prediction)">pending</a></span></p>
        </div>
      </div>
    </div>   
    
    <script src="lib/angular/angular.js"></script>
    <script src="lib/app/app.js"></script>
    
  </body>
  
</html>
